<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    fontawesome cdn -->
    <!-- 카카오지도 API 인증키, 웹 플랫폼 도메인 등록 필수 -->
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bc88227ccc4a489780b79312d7c1cbb5&libraries=services,clusterer,drawing"></script>
    <title>토이프로젝트1</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href
                  ="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src
                    ="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Batang&family=Noto+Sans+KR:wght@300&display=swap"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        <!--    마커, 인포윈도우, 검색목록 옵션을 가질 객체 생성-->
        let example = []

        // 특정 지역의 장소 데이터를 카카오검색api를 통해 수집 및 객체 example에 할당하고 return
        function searchs() {
            let search = $('#search').val()
            remover()
            $.ajax({
                    type: "GET",
                    url: "https://dapi.kakao.com/v2/local/search/keyword",
                    data: {
                        query: search
                    },
                    headers: {Authorization: 'KakaoAK e0a7933ed8d3e52e48f47999a8528bc7'},
                    success: function (response) {
                        let rows = response['documents']
                        for (let i = 0; i < rows.length; i++) {
                            let index_x = rows[i].x
                            let index_y = rows[i].y
                            let placeName = rows[i].place_name
                            let phonenum = rows[i].phone
                            let address = rows[i].road_address_name
                            let temp_html = `<tr id = 'clickbutton'>
                                <td id = 'cafename'>${placeName}</td>
                                <td>${phonenum}</td>
                                <td class="addressbox">${address}</td>
                            </tr>`
                            example.push({
                                'region': search,
                                'placename': placeName,
                                'latlng': new kakao.maps.LatLng(index_y, index_x),
                                'phone': phonenum,
                                'address': address,
                                'listitems': temp_html
                            }) // 마커 생성시에 필요한 데이터들을 api에서 수집한 내용을 편집해서 example에 넣기.

                        }
                        showmarker() // 검색을 끝내면, 해당 키워드에 마커와 infowindow, 검색목록을 나타내는 함수.
                    }
                }
            )
        }
    </script>
</head>
<body>
<header class="title">
    <div class="titlebox">
        <div class="cup">
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="cup"
                 viewBox="0 0 16 16">
                <path d="M1 2a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v1h.5A1.5 1.5 0 0 1 16 4.5v7a1.5 1.5 0 0 1-1.5 1.5h-.55a2.5 2.5 0 0 1-2.45 2h-8A2.5 2.5 0 0 1 1 12.5V2zm13 10h.5a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5H14v8zM13 2H2v10.5A1.5 1.5 0 0 0 3.5 14h8a1.5 1.5 0 0 0 1.5-1.5V2z"/>
            </svg>
        </div>
        <p class="titlename">
            빠른 커피
        </p>
    </div>
</header>
<main>
    <div class="wrap">
        <div class="mapbox">
            <!--  지도 컨테이너      -->
            <div class='map' id='map'>
            </div>
        </div>
        <div class="searchbar">
            <form onsubmit="searchbtn(); return false">
                <input type="text" id='search' value="">
                <button class='searchbtn'>검색</button>
            </form>
            <div id='placelist' class="placelist">
                <table class='table'>
                    <thead>
                    <tr>
                        <td>카페명</td>
                        <td>연락처</td>
                        <td>주소</td>
                    </tr>
                    </thead>
                    <tbody id="placeitems">
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</main>
<script>
    //  여러 마커 생성 이벤트2: 마우스 오버 시 마커 사이즈 확장 + 클릭 시 마커 색상 및 사이즈 변경
    // 지도를 생성합니다
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places();

    // 키워드로 위치 검색 (placeSearchCD) + 키워드 관련 장소 목록 수집해서 example에 할당(search())
    function searchbtn() {
        if (!document.getElementById('search').value.replace(/^\s+|\s+$/g, '')) {
            alert('키워드를 입력해주세요!');
            return false;
        }
        ps.keywordSearch(document.getElementById('search').value, placesSearchCB);
    }

    // 장소 검색 시,
    function placesSearchCB(data, status, pagination) {
        searchs() // 카카오검색 api에서 검색된 지역의 카페의 좌표, 장소명 정보를 가져오는 함수
        if (status === kakao.maps.services.Status.OK) {
            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            var bounds = new kakao.maps.LatLngBounds();
            bounds.extend(new kakao.maps.LatLng(data[0].y, data[0].x));
            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            map.setBounds(bounds);
            map.setLevel(4)
        }
    }

    // 마커 이미지 설정
    var imgsrc = 'https://cdn-icons.flaticon.com/png/512/3361/premium/3361122.png?token=exp=1644644902~hmac=b50b196e7a1f47d9ef2ca8130e2da9f3'
    var imgsize = new kakao.maps.Size(30, 30)
    var imgOption = new kakao.maps.Point(15, 30)
    var markerimage = new kakao.maps.MarkerImage(imgsrc, imgsize, imgOption)
    var markers = []
    var infowindows = []


    // api에서 받아온 데이터를 편집한 example[]을 활용해서 마커 생성.
    // example[] 활용해서 각 좌표의 장소명에 대한 infowindow 생성
    // 마우스 오버 시, 인포 윈도우 표시
    // position 값 할당해줄 때, value값이 전달될 수 있도록 객체 값 정리를 깔끔하게 해야함.
    function showmarker() {
        for (let i = 0; i < example.length; i++) {
            let rows = example[i]
            let x = rows['x']
            let y = rows['y']
            let title = rows['placename']
            let phonenum = rows['phone']
            let address = rows['address']
            var marker = new kakao.maps.Marker({
                position: rows['latlng'],
                image: markerimage,
            })
            var iwcontents = '<div class = "contentbox">' + '<p class=" small">' + title + '</p>' + '<p class=" small">' + phonenum + '</p>' + '<p class=" small">' + address + '</p>' + '</div>'
            var infowindow = new kakao.maps.InfoWindow({
                content: iwcontents
            })
            marker.setMap(map)
            kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow)) // for문을 닫고 infowindow 호출 함수를 작성해야, 모든 장소명이 잘 나타남.
            kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow))
            markers.push(marker)
            infowindows.push(infowindow)
        }

        function makeOverListener(map, marker, infowindow) {
            return function () {
                infowindow.open(map, marker)
            }
        }

        function makeOutListener(infowindow) {
            return function () {
                infowindow.close()
            }
        }

        showplacelist() // 검색목록 생성 및 표출 함수
    }

    // example의 데이터를 받아와서 검색목록의 정보 생성
    function showplacelist() {
        for (let i = 0; i < example.length; i++) {
            let listitem = example[i].listitems
            $('#placeitems').append(listitem)
        }
    }

    function remover() { // 마커, 리스트 지우는 기능을 통합한 함수.
        removemarker()
        removelists()
        example = []
    }

    // 검색목록 제거 기능
    function removelists() {
        $('#placeitems').empty()

    }

    // 마커 제거 기능
    function removemarker() {
        for (let i = 0; i < markers.length; i++) {
            markers[i].setMap(null)
        }
    }

    // 코드 정리 (infowindow, marker 변수 지정하는 것 전부 다 맨 위로 옮겨버리기.)
    // 카페명 오버 시, 인포윈도우 표시하기 or 카페명 클릭 시, 마커 크기 확장 + 인포윈도우 표출
    // 지역 검색 버튼 누르면, 기존에 있던 마커와 검색목록 삭제 ---> kakao developer 확인하기

</script>
</body>
</html>

