.title{
    background-color: chocolate;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0;

}

.titlebox{
    display: flex;
    align-items: center;
    text-align: center;
}

.titlebox > p{
    font-size: 40px;
    margin-bottom: 0;
}

.titlebox > .cup{
    margin-right: 10px;
}

main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wrap{
    border: 1px solid black;
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

.map{
    width: 500px;
    height: 400px;
    margin: 10px 20px;
    border: 1px solid black;
}

.others{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.others > button{
    margin-right: 10px;
}

.searchbar{
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
}

.contentbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.small{
    size: 3px;
    margin: 0;
    padding-right: 5px;

}

#placelist{
    height: 400px;
    overflow: scroll;
    margin-top: 5px;
}

.table{
    border: 1px solid black;
    font-size: 8px;
}

.addressbox{
    padding-right: 100px;
}