<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">

    <!--    aboout styling and css -->
    <link rel="stylesheet" href="/static/main.css">
    <link href
                  ="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src
                    ="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Myeongjo&display=swap" rel="stylesheet">


    <!-- 카카오지도 API 인증키, 웹 플랫폼 도메인 등록 필수 -->
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bc88227ccc4a489780b79312d7c1cbb5&libraries=services,clusterer,drawing"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>국밥여지도</title>
</head>
<body>
<header class="title">
    <div class="titlebox">
        <div class="cup">
            <img class='picture' src="/static/free-icon-soup-5226437.png" alt="">
        </div>
        <p class="titlename" id='realname'>
            국밥여지도
        </p>
    </div>
</header>
<main class='cards'>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for menu in menus %}
            <div class="col">
                <div class="card h-80">
                    <img src="/static/sdfsdfsdf.PNG" class="card-img-top" alt="...">
                    <div class="card-footer">
                        <a class='menuname' href="/detail/{{ menu }}">{{ menu }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    </div>
</main>
</body>
</html>

{# menu들을 detail.#}
