<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .img {
            width: 70px;
            heigth: 70px;
            margin-bottom: 10px
        }
    </style>
</head>
<body>
<img class='img' src="/static/pork_soup.jpg" alt="">
<img class='img' src="/static/oyster_soup.jpg" alt="">
<img class='img' src="/static/separate_soup.jpg" alt="">
<img class='img' src="/static/sugure_soup.jpg" alt="">
<img class='img' src="/static/sundae_soup.jpg" alt="">
<img class='img' src="/static/onban_soup.jpg" alt="">
<img class='img' src="/static/cow_soup.jpg" alt="">
<img class='img' src="/static/bean_soup.jpg" alt="">
</body>
</html>