.title {
    background-color: saddlebrown;
    color: ivory;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    height: 20%;
    min-height: 100px;
}

.picture {
    width: 70px;
    heigth: 70px;
    margin-bottom: 10px
}

.titlebox {
    display: flex;
    align-items: center;
    text-align: center;
}

.titlebox > p {
    font-size: 60px;
    margin-bottom: 0;
    font-family: 'Do Hyeon', sans-serif;
}

.titlebox > .cup {
    margin-right: 10px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.wrap {
    border: 1px solid black;
    width: 95%;
    height: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

.mapresult {
    width: 40%;
    display: flex;
    flex-direction: column;
    border: 1px outset black;
}

.map {
    width: 100%;
    height: 312px;
    border-bottom: 1px solid black;
}

.back_button {
    margin-left: 35px;
    margin-top: 25px;
    background-color: transparent;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
}

.back_button:hover {
    background-color: black;
    color: white;
}

.back_button > p {
    margin-left: 5px;
    padding: 5px 0 5px 0;
    margin-bottom: 0;
}

.others {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.others > button {
    margin-right: 10px;
}

.searchbar {
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
}

.contentbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small {
    size: 3px;
    margin: 0;
    padding-right: 5px;

}

#placelist {
    max-height: 312px;
    overflow: scroll;
    margin-top: 5px;
}

.table {
    border: 1px solid black;
    font-size: 8px;
}

.cafename {
    cursor: pointer;
}

.cafename:hover {
    font-weight: bold;
}