
.title {
    background-color: saddlebrown;
    color: ivory;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    height: 20%;
    min-height: 100px;
}

.hello_text{
    font-family: 'Yeon Sung', cursive;
    margin-left: 1%;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-right: 300px;
}

.hello_text > p{
     text-align: left;
    margin: 0;
}
.titlebox {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 500px;
}

.picture {
    width: 70px;
    heigth: 70px;
    margin-bottom: 10px
}

.titlebox > h1 {
    font-size: 60px;
    margin-bottom: 0;
    font-family: 'Yeon Sung', cursive;
}

.titlebox > .cup {
    margin-right: 10px;
}

.logoutbox {
    display: flex;
    align-items: center;
    margin-right: 1%;
}

.logoutbtn {
    background-color: transparent;
    color: white;
    border: 1px outset white;
    border-radius: 50px;
    font-family: 'Yeon Sung', cursive;
    padding: 10px 20PX 10PX 20PX;
}

.logoutbtn:hover {
    border: 1px solid white
}

.logoutbtn > p {
    margin: 0
}

body {
    background-color: orange;
}

main {
    width: 100%;
    height: 20%;
    margin-top: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 400px;
    margin: 5% auto 5% auto;
}

.card-footer {
    text-align: center;
}

.menuname {
    text-decoration: none;
    color: black
}

.menuname:hover {
    font-weight: bold;
    color: black;
}

